.container{
    padding-top: 50px;
    max-width: 700px;
}

mat-card{
    max-width: 500px;
    margin: auto;
    padding: 10px;
}

img{
    max-width: 100px;
}

.spinner{
    margin-top: 150px;
}

.elementos{
    float: right;  
    padding: 10px;
    
}
.tiempoT{
    font-size: 25px;
}