.container{
    padding-top: 50px;
    max-width: 700px;
}
*{
    font-family: 'Balsamiq Sans', cursive;
}

mat-card{
    max-width: 500px;
    margin: auto;
    padding: 10px;
}

img{
    max-width: 100px;
}

.spinner{
    margin-top: 150px;
}

.elementos{
    float: right;
    padding: 10px;
    color: white;
}
.tiempoT{
    font-size: 25px;
}


h1{
    font-family: 'Balsamiq Sans', cursive;
}

h2{
    font-family: 'Balsamiq Sans', cursive;
}
